body { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#content { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Generated-Number { 
    font-size: 20mm;
}
button { 
    margin-bottom: 2em;
    height: 4em;
    width: 20em;
}
#logic { 
    margin-left: 15vw;
    margin-right: 15vw;
}
#prev-nums { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    max-height: fit-content;
    width: auto;
    max-width: 70vw;
    font-size: 8mm;

}