body { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
header { 
    font-size: 9mm;
    margin-bottom: 5vh;
}
.mid_navigation_card { 
    height: auto;
    max-height: fit-content;
    width: 30vw;
    min-width: 30vw;
    background-color: grey;
}
.nav_link { 
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 25vw;
    height: auto;
    min-height: 5vh;
    border-radius: 10px;
    font-size: 6mm;
    flex-wrap: nowrap;
    max-height: fit-content;
}
.nav_link:hover { 
    background-color: lightgray;
}