
.mid { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#tickets { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: fit-content;
    width: 80vw;
    border-radius: 5px;
    border-style: solid;
    flex-direction: column;
    
}

#tickets div { 
    height: auto;
    min-height: 15vh;
    max-height: fit-content;
    width: 70vw;
    border-radius: 15px;
    border-style: solid;
    border-color: gray;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-direction: column;
}


#tickets strong, p { 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7mm;
    margin-bottom: 0vh;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 1vh;
}

#tickets p { 
    color: gray;

}


/* Hovers:  */
#tickets div:hover { 
    border-color: lightgray;
}

.mid header { 
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
.ticket { 
    display: flex;
    justify-content: center;

}
.ticket button { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-bottom: 5vh;
    font-size: 7mm;
    color: white;
    z-index: 999;
}
.ticket button:hover { 
    background-color: rgb(240, 0, 0);
}