body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Calc Div */
#calcDiv { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 15vw;
    background-color: red;
    margin-top: 1vh;
}
/* Calc buttons div */
#calc-buttons { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Individual Button Styling: */
#calc-buttons button { 
    width: 3vw;
    height: 5vh;
    margin: 1px;
}

/* Input styling */
#calcDiv input { 
    height: 3vh;
    margin: 2px;
    width: 13vw;
}
